@import "tailwindcss";
@plugin "daisyui" {
  themes: zkn-dark, light;
}

@plugin "daisyui/theme" {
  name: "zkn-dark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(22% 0.021 267);
  --color-base-200: oklch(20% 0.021 267);
  --color-base-300: oklch(18% 0.021 267);
  --color-base-content: oklch(91% 0 0);
  --color-primary: oklch(41.16% 0.139 142.51);
  --color-primary-content: oklch(91% 0 0);
  --color-secondary: oklch(41% 0.14 330);
  --color-secondary-content: oklch(91% 0 0);
  --color-accent: oklch(75% 0.25 143);
  --color-accent-content: oklch(30% 0.021 267);
  --color-neutral: oklch(15% 0.021 267);
  --color-neutral-content: oklch(91% 0 0);
  --color-info: oklch(36% 0.14 267);
  --color-info-content: oklch(91% 0 0);
  --color-success: oklch(53% 0.18 265);
  --color-success-content: oklch(91% 0 0);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(42% 0.14 27);
  --color-error-content: oklch(91% 0 0);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.3125rem;
  --size-field: 0.3125rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}

:root {
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /* force WebKit to promote into its compositor and repaint reliably (fix macos issue) */
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/*
 * Set scrollbar-gutter to prevent sidebar-induced layout shift on Windows
 * https://github.com/saadeghi/daisyui/issues/2859#issuecomment-2383862183
 * https://github.com/saadeghi/daisyui/discussions/3246#discussioncomment-11738876
 */
html {
  scrollbar-gutter: auto !important;
}
html:has(body.content-overflow-y) {
  scrollbar-gutter: stable !important;
}

.logo {
  @apply h-48 p-6 transition duration-1000;
  will-change: filter;
}

@keyframes pulse-shadow {
  0% {
    filter: drop-shadow(0 0 0.25em #00d400);
  }
  50% {
    filter: drop-shadow(0 0 1.75em #00d400);
  }
  100% {
    filter: drop-shadow(0 0 0.25em #00d400);
  }
}

.pulsing {
  animation: pulse-shadow 2s infinite ease-in-out;
}
